Repository zer0Kerbal/KlockheedMartianLtd, pull requests merged in 2023-06, with the labels that each got.

#46 Version 1.0.3.0-release - `<Expansion: Asteroid Cities>` edition
  GameData/KlockheedMartian/KlockheedMartianLtd/1.0.3.0.htm
  GameData/KlockheedMartian/KlockheedMartianLtd/Agencies/Agents.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/CC-BY-ND-4.0+ARR.txt
  GameData/KlockheedMartian/KlockheedMartianLtd/KlockheedMartianLtd.version
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/en-us.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/pt-br.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/Resources/ResourceGeneric.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/Resources/ScienceDefs.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/changelog.md
  GameData/KlockheedMartian/KlockheedMartianLtd/readme.htm
  KlockheedMartianLtd.version
  changelog.md
  docs/ReleaseNotes/1.0.3.0.md
  docs/Why.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release

#45 added ru.cfg/ added ru translated readme and quickstart
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/quickstart-ru.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/readme-ru.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/ru.cfg
Labels: type: localization

#48 Version 1.0.4.0-release - `<Спасибо evanisrael>` edition
  GameData/KlockheedMartian/KlockheedMartianLtd/1.0.4.0.htm
  GameData/KlockheedMartian/KlockheedMartianLtd/Attributions.htm
  GameData/KlockheedMartian/KlockheedMartianLtd/KlockheedMartianLtd.version
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/en-us.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/pt-br.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/quickstart-ru.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/quickstart.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/readme-ru.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/readme.md
  GameData/KlockheedMartian/KlockheedMartianLtd/Localization/ru.cfg
  GameData/KlockheedMartian/KlockheedMartianLtd/changelog.md
  GameData/KlockheedMartian/KlockheedMartianLtd/readme.htm
  KlockheedMartianLtd.version
  changelog.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ReleaseNotes/1.0.4.0.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release, type: localization
